-items = Post.where(parent: 'events').order('datetime DESC').limit(2)
- if items.any?
  %h1 Афиша
  .announce
    - items.each do |item|
      .item
        = link_to announce_path(item.id) do
          .image
            - if item.image
              = image_tag item.image.thumb('370x560').url
          .date
            %span.day= item.day
            %span.month= item.month

          .title= item.title
          -if item.preview
            .preview= item.preview
