-if can? :edit, Card
  .top_controls    
    = link_to 'Добавить карту', new_card_path(@page.url), class: 'btn btn-success'

- cards = Card.where(parent: @page.url).order(position: :asc)
- if cards.any?
  .cards_list  
    = render layout: 'shared/slider' do
      = render partial: 'cards/card_item', collection: cards
