-if can? :edit, Menu
  .top_controls    
    = link_to 'Добавить пункт', new_menu_path(@page.url), class: 'btn btn-success'

- menus = Menu.where(parent: @page.url).order(position: :asc)
- if menus.any?
  .menu_list    
    .slider_block
      .slider
        = render partial: 'menu/menu_item', collection: menus
      %div{style: "display: block;",class: "navi prev"}
      %div{style: "display: block;",class: "navi next"}
      .clearfix

:coffee
  $ ->
    $el = $('.slider_block')
    $('.slider', $el).carouFredSel
      items: 1
      width: 840
      align: 'center'
      prev: 
        button: $('.prev', $el)
      next: 
        button: $('.next', $el)
      scroll:
        items: 1
      auto:
        play: false
