.request_form#request_form_block
  .link Оставьте заявку на получение  
  .form
    = form_tag '/api/request', id: 'request_form' do
      .input
        = text_field_tag :name, nil, placeholder: 'Имя'
      .input
        = text_field_tag :phone, nil, placeholder: 'Телефон'
      .input
        %button{type: :button} Отправить
.notice#request_form_notice

:coffeescript
  $ ->   
    form = $('#request_form')
    button = $('button', form)
    show_notice = (text, _class)->      
      form_block = $('#request_form_block')
      notice = $('#request_form_notice')
      notice.addClass(_class).html(text).show()
      form_block.hide()      
      setTimeout (->
        form_block.show()
        notice.removeClass(_class).hide().html('')
      ), 3000

    button.click ->
      button.attr('disabled','disabled')
      promice = $.post '/api/request', form.serialize()
      promice.done ->        
        form[0].reset()
        show_notice('Собщение отправлено', 'success')
      promice.fail -> 
        console.log('FAIL')
        show_notice('Произошла ошибка', 'alert')
      promice.always ->
        button.removeAttr('disabled')
    
    
