.item
  -if menu_item.image
    .image= image_tag menu_item.image.url
  - else  
    .title= menu_item.title
    -if menu_item.text        
      .text= menu_item.text  
  -if can? :edit, menu_item
    .controls
      = link_to 'Редактировать', edit_menu_path(menu_item.parent, menu_item.id)
