.footer.container
  .copyright.col-md-3
    © 2016 ОФИЦИАЛЬНЫЙ САЙТ
    %br
    GENTELMEN'S CLUB «PODIUM»    
  .menu.col-md-7
    = Page.template_text 'menu'    
  .madein.col-md-2
    Сделано в Контрасте 
