- social_networks = {vkontakte: 'http://vk.com/podium_hall', facebook: 'https://www.facebook.com/profile.php?id=100005544825110', youtube: 'http://www.youtube.com/channel/UCdxtz_TO_u6icFVsxzBT7fA'}

.head.container
  .row
    .logo.col-md-3
      = link_to image_tag('/assets/logo.png'), root_path
    .phones.col-md-4
      %span +7 919 063 8000
      = "/"
      %span +7 (4822) 424 758
      
    .login.col-md-2
      .social-icons
        - social_networks.each do |name, url|
          = link_to '', url, class: ['social-icon', name], target: '_blank'
    -unless current_user
      .age.login_button.col-md-3
        %strong 18+
        Только для 
        %br
        совершеннолетних 
    -else 
      .age.logout_button.col-md-3
        Выход


  .menu
    -# = render 'shared/menu'
    = Page.template_text 'menu'
  - if current_user
    .menu
      %ul
        %li
          = link_to 'Фоновые изображения', background_images_path
