%ul
  - Page.in_menu.each do |page|
    %li
      - next unless page
      - if page.children.present?
        = link_to page.title, 'javascript:void()'
        %ul
          - page.children.each do |page|
            %li= link_to page.title, page.url
      - else
        = link_to page.title, page.url
