.slider_block
  .slider
    = yield
  %div{style: "display: block;",class: "navi prev"}
  %div{style: "display: block;",class: "navi next"}
  .clearfix

:coffee
  $ ->
    $el = $('.slider_block')
    $('.slider', $el).carouFredSel
      items: 3
      width: 840
      align: 'center'
      prev: 
        button: $('.prev', $el)
      next: 
        button: $('.next', $el)
      scroll:
        items: 1
      auto:
        play: false
