=form_for Photo.new, url: api_images_path, :html => { :multipart => true, :id => "fileupload"  } do |f|
  .row.fileupload-buttonbar
    %span.btn.btn-success.fileinput-button
      %i.icon-plus.icon-white
      %span Добавить файлы
      = f.file_field 'image', {multiple: true}
    %button.btn.btn-primary.start{type: :submit}
      %i.icon-upload.icon-white
      %span Начать закачку

    %button.btn.btn-warning.cancel{type: :reset}
      %i.icon-ban-circle.icon-white
      %span Отмена

    %button.btn.btn-danger.delete{type: :button}
      %i.icon-trash.icon-white
      %span Удалить
          
  %table{class:"table "}
    %tbody{class:"files", 'data-toggle'=>"modal-gallery", 'data-target'=>"#modal-gallery"}

  .progress.progress-success.progress-striped.active.fade
    .bar{style:"width:0%"}

=render 'shared/upload_templates'

:coffeescript
  $ ->
    $('#fileupload').fileupload();
