.events_list
  = render layout: 'shared/slider' do
    - @events.each do |event|
      .item
        = link_to send("#{params[:parent].singularize}_path", event) do
          .image
            - if event.image_stored?
              =image_tag event.image.thumb('370x560').url 
          .date 
            %span.day= event.day
            %span.month= event.month
          .title
            = event.title
          .preview
            = event.preview
