.content_block.container
  = form_for @event, :url => event_path(@event) do |f|
    = render :partial => "form", :locals => {:f => f}

  - if params[:parent] == 'events'
    = form_tag bulk_create_event_images_path(@event), method: :post, multipart: true, id: 'bg_image_fileupload' do
      .row.fileupload-buttonbar
        %spanbtn.btn-success.fileinput-button
          %i.icon-plus.icon-white
          %span Добавить файлы
          = file_field_tag 'images[]', multiple: true

    .background_images
      - @event.images.each do |image|
        .background_image{'data-image-id' => image.id}
          = image_tag image.image.thumb.url
          %span
            = link_to 'x', event_image_path(@event, image), method: :delete, remote: true

:coffee
  $ ->
    $bg_images = $('.background_images')
    $file_upload = $('#bg_image_fileupload')

    if $file_upload
      $file_upload.fileupload
        dataType: 'json'
        autoUpload: true
        uploadTemplateId: false
        downloadTemplateId: false
        done: (_, data) ->
          if data && data.result && data.result.files
            for file in data.result.files
              add_image(file)


    add_image = (file) ->
      $item = $('<div/>')
      link_html = '<a href="' + file.delete_url + '" data-method="delete" data-remote="true" rel="nofollow">x</a>'
      $item
        .addClass('background_image')
        .attr('data-image-id', file.id)
      $item
        .append $('<img/>').attr('src', file.thumbnail_url)
        .append $('<span/>').html(link_html)
      $('.background_images').append $item

:sass
  .background_image
    position:relative
    float: left
    margin: 0 10px 10px 0

    span
      position:absolute
      right: -4px
      top: -10px
