.content_block.container
  %h1= {'events' => 'События', 'promotions' => 'Акции'}[params[:parent]]
  -if can? :edit, Post
    .top_controls
      = link_to 'Добавить пост', send("new_#{params[:parent].singularize}_path"), class: 'btn btn-success'
  = render 'events_list'
