- edit_resource_url = send("edit_#{params[:parent].singularize}_path", @event)

.event.content_block.container
  h1= @event.title
  .text
    -if @event.image_stored?
      .event_image
        = image_tag @event.image.thumb('400x400').url
    .date= @event.datetime
    == @event.source
  .links
    - if can? :edit, Post
      = link_to 'Редактировать', edit_resource_url, class: 'btn btn-success'
      = link_to 'Удалить', 'javascript:;', class: 'delete_link btn btn-danger', data_id: @event.id

  - if @event.images.present?
  .gallery_widget

coffee:
  $ ->
    $('.delete_link').on 'click', ->
      id = $(this).attr('data_id')
      if(confirm('Удалить новость?'))
        $.ajax
          url: Routes.event_path(id)
          type: 'DELETE'
          success: ->
            window.location.replace(Routes.events_path)

- if params[:parent] == 'events' && @event.images.present?
  - images = @event.images.map {|i| {id: i.id, uid: "event-image-#{i.id}", url: i.image.slider_mini.url, normal_url: i.image.slider_normal.url} }

  javascript:
    window.event_images = #{images.to_json.html_safe}

  coffee:
    $ ->
      $el = $('.gallery_widget')
      if $el.length > 0
        gallery = new App.EventGallery($el, hide_editor: true, images: window.event_images)

