.form-group
  %label Заголовок
  = f.text_field :title, class: 'form-control'
.form-group
  %label Краткое содержание  
  = f.text_area :preview, cols: 10, rows: 5, class: 'form-control'
.form-group
  %label Полное содержание
  = f.text_area :source, cols: 10, rows: 20, class: 'form-control'
.form-group
  %label Изображение  
  = f.file_field :image
.form-group.datetime_line
  %label Дата и время: 
  = f.datetime_select :datetime, class: 'form-control'
.form-group
  = f.submit "Сохранить", class: 'btn btn-primary'