.content_block.container
  %h1 Афиша
  -if can? :edit, Post    
    = link_to 'Добавить мероприятие', new_announce_path, class: 'btn btn-success'  
  .events
    - @events.each do |event|
      .event_item
        -if event.image_stored?
          .event_image
            =image_tag event.image.thumb('200x200').url 
        .title
          = event.title
        .date 
          = event.datetime
        .preview
          = event.preview
        .links
          = link_to 'Подробнее...', announce_path(event)
  = paginate @events
