.event.content_block.container
  %h1=@event.title
  .text
    -if @event.image_stored?
      .event_image
        =image_tag @event.image.thumb('400x400').url
    .date 
      = @event.datetime        
    =@event.source.html_safe
  .links  
    -if can? :edit, Post
      = link_to 'Редактировать', edit_announce_path(@event), class: 'btn btn-success'
      = link_to 'Удалить', 'javascript:;', class: 'delete_link btn btn-danger', data_id: @event.id

:coffeescript
  $ ->
    $('.delete_link').on 'click', ->
      id = $(this).attr('data_id')
      if(confirm('Удалить новость?'))
        $.ajax 
          url: Routes.announce_path(id)
          type: 'DELETE'
          success: ->
            window.location.replace(Routes.announces_path)
