.gallery.content_block.container
  .main_image
    =image_tag '/assets/gallery_image.jpg'
    .navi.prev
    .navi.next
  .slider
    -10.times do |i|
      .image{id:"image-#{i}", 'class'=>(i==0 ? :active : '')}
        =image_tag '/assets/gallery_image_thumb.jpg' 
  .fp_scroll


:coffeescript
  $ -> 
    $('.slider').carouFredSel
      items: 6
      align: 'center'
      prev: 
        button: $('.main_image .prev')
      next: 
        button: $('.main_image .next')
      scroll:
        items: 1
        onAfter: (e)->
          $('.slider').trigger 'currentPosition', (pos)->
            $('.slider .image.active').removeClass('active')
            $('.slider .image#image-'+pos).addClass('active')
            $('.fp_scroll').fpScrollbar('scrollTo', pos)
      auto:
        play: false  


    $('.slider').on 'click', '.image', (e)->
      i = parseInt $(this).attr('id').match /[\d]+$/ 
      $('.slider').trigger('slideTo', i)     


    $('.fp_scroll').fpScrollbar 
      max: 10
    $('.fp_scroll').on 'change', (e, value)->
      $('.slider').trigger('slideTo', Math.floor(value))

