.content_block.container
  .announce
    %h1 Афиша
    .widget
  .clearfix
  %hr  
  .text
    %h1 О клубе
    %p Gentelmen’s Club Podium
    %p Это знаменитый уровень сервиса и качества, помноженный на бесшабашное русское веселье. Обращаем внимание наших гостей, что в клубе Podium так же действуют клубные карты всех стриптиз клубов России для бесплатного входа!
    %p В нашем клубе ежедневно для Вас работают лучшие танцовщицы со всей России.
    %p Почему мы?
    %p Мы знаем наверняка, чего ждут от настоящего стриптиза. Благодаря богатой истории мы научились создавать неповторимые шоу и тем самым приобрели множество поклонников.
    %p= link_to 'подробнее'




  