- editable = can? :edit, Page

.content_block.container

  .page{class: editable ? 'editable' : ''}
    -unless @page.new_record?
      = @text.html_safe
    -else
      -if editable
        %p Страницы с таким адресом не существует, но вы можете создать её. 
        =link_to 'Создать страницу', 'javascript:;', {class: :edit_link}
      -else
        %p Страница не найдена
  -if editable
    .controls
      -unless @page.new_record?
        =link_to 'Редактировать', 'javascript:;', {class: :edit_link}

:coffeescript
  $ ->  
    wiki.page = #{{id: @page.id, uid: @id}.to_json}    
    $('.controls, .page').on 'click', '.edit_link', (e)->        
      wiki.show_editor()
    $('.page').trigger('wiki:loaded')
