.content_block.container
  %h1 Фоновые изображения
  = form_tag bulk_create_background_images_path, method: :post, multipart: true, id: 'bg_image_fileupload' do
    .row.fileupload-buttonbar
      %spanbtn.btn-success.fileinput-button
        %i.icon-plus.icon-white
        %span Добавить файлы
        = file_field_tag 'background_images[]', multiple: true

  .background_images
    - @background_images.each do |background_image|
      .background_image
        = image_tag background_image.image.thumb.url
        %span
          = link_to 'x', background_image_path(background_image), method: :delete

  :coffee
    $ =>
      $bg_images = $('.background_images')
      $('#bg_image_fileupload').fileupload
        dataType: 'json'
        autoUpload: true
        uploadTemplateId: false
        downloadTemplateId: false
        done: -> window.location.reload()

:sass
  .background_image
    position:relative
    float: left
    margin: 0 10px 10px 0

    span
      position:absolute
      right: -4px
      top: -10px
