<div class='slider'>
  <% $.each(items, function(i, item) { %>
    <div class='item'>
      <a href='<%= Routes.announce_path(item.id) %>'>
        <div class='image'>
          <% if(item.image_uid) { %> 
            <img src='<%= Routes.api_thumb_path({file: item.image_uid, size: '155x130#'}) %>'>
          <% } %>  
          <div class='date'><span class='day'><%= item.day %></span> <span class='month'><%= item.month %></span></div>
        </div>
      
        <div class='title'><%= item.title %></div>
        <div class='preview'><%= item.preview %></div>
      </a>
    </div>    
  <% }); %>
</div>
<div style="display: block;" class="navi prev"></div>
<div style="display: block;" class="navi next"></div>
<div class='clearfix'></div>

