<div class='content_block container'>
  <form method='POST'>
    <div class='form-group'>
      <textarea class='form-control' name='text' id='page_editor' rows='20'><%= text %></textarea>
    </div>  
    <div class='form-group'>
      <button type='button' class='btn' data-event='wiki:preview'>Просмотр</button>
      <button type='button' class='btn' data-event='wiki:save'>Сохранить</button>
      <button type='button' class='btn' data-event='wiki:close'>Отмена</button>
    </div>
  </form>
  <div class='page_preview'></div>
</div>
