<% $.each(images, function(i, item) { %>
  <div class="image <%= ((i==0) ? 'active': '') %>" id="image-<%= i %>" data-uid="<%= item.uid %>" data-normal-url="<%= item.normal_url %>">    
    <img src="<%= item.url %>">
  </div>
<% }); %>