<div class='image_item pull-left' data-id='<%= image.id %>'>
  <img src='<%= Routes.api_thumb_path({file: image.image_uid, size: '100x100#'}) %>'>
  <% if(edit_mode) { %>
    <span><a href="#" class='delete'>x</a></span>
  <% } %>
</div>
