<div class='content_block container'>
  <%= JST['templates/upload_form']({page_id: page_id}) %>  
  <div class='image_list row'></div>
  <button type='button' class='btn' data-event='wiki:close'>Отмена</button>
</div>