<div class="main_image hidden">
  <img src="">
  <div style="display: block;" class="navi prev"></div>
  <div style="display: block;" class="navi next"></div>
</div>
<div class="slider"></div>
<div class="fp_scroll"></div>
<% if(!hide_editor) { %>
<div class="page_controls">
  <a class="gallery_edit_link" href="javascript:;">Редактировать</a>
</div>
<% } %>