.item
  -if card_item.image
    .image= image_tag card_item.image.thumb('380x').url  
    .title= card_item.title
    -if card_item.text        
      .text= simple_format card_item.text  
  -if can? :edit, card_item
    .controls
      = link_to 'Редактировать', edit_card_path(card_item.parent, card_item.id)
