.content_block.container  
  %h1 
    = @card.id ? 'Редактирование карты клиента': 'Добавление карты клиента'
  = form_for @card, url: '', html: {id: :card_form} do |f|
    .form-group
      %label Изображение  
      = f.file_field :image
    .form-group
      %label Заголовок
      = f.text_field :title, class: 'form-control'
    .form-group
      %label Описание
      = f.text_area :text, cols: 10, rows: 5, class: 'form-control'
    .form-group
      %label Позиция в списке
      = f.number_field :position, class: 'form-control'
    .form-group      
      = f.submit "Сохранить", class: 'btn btn-primary'      
      = f.button "Отмена", type: :button, id: :cancel_button, class: 'btn'
      = f.button "Удалить", type: :button, id: :delete_button, class: 'btn btn-danger'
      
:coffeescript
  $ ->
    form = $('#card_form')
    ret = -> window.location = '#{page_path(params[:id])}'
    $('#cancel_button', form).click ret      
    $('#delete_button').click ->      
      $.post '', {'_method': 'delete'}, ret if(confirm 'Удалить карту?')
          


