!!!
%html
  %head
    %title Подиум
    = favicon_link_tag
    = stylesheet_link_tag "adult_confirmation", media: "all"
    / = javascript_include_tag "application"
    = csrf_meta_tags
  - body_class = "#{params[:controller]}_#{params[:action]}" + (params[:id] ? "_#{params[:id]}" : "")
  %body.adult-confirmation
    = image_tag 'adult_confirmation/logo.png', class: 'logo'

    .title Вам уже исполнилось 18 лет?
    .desc Вы должны быть совершеннолетним, чтобы посетить этот сайт!

    .actions
      = link_to 'Да', confirm_adult_confirmation_path, class: 'action yes'
      = link_to 'Нет', '#', class: 'action no'

    .phones
      %span.phone +7 919 063 8000
      %span.phone +7 (4822) 424 758
    .clr
    .info
      %p г. Тверь , пр-т. Ленина, 32а
      %p Вт-Сб: с 22-00 до 05-00.
      %p= mail_to 'g_clubpodium@list.ru'
