<div class='alert_zone'></div>
<form method='POST' action='<%= Routes.api_login_path() %>' id='login_form'>
  <div class="form-group">
    <label for="login">Логин:</label>
    <input type="text" name='login' class="form-control" id="login" placeholder="Введите логин">
  </div>
  <div class="form-group">
    <label for="password">Пароль</label>
    <input type="password" name='password' class="form-control" id="password" placeholder="Пароль">
  </div>
</form>