<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <div class="modal-body">
        <%= text %>
      </div>

      <div class="modal-footer">
        <% if(buttons) { 
          $.each(buttons, function(i, button) { %>
            <button type="button" class="btn <%= (button.class || '') %>"><%= (button.text || 'OK') %></button>
          <% }); %>
        <% } else { %> 
          <button type="button" class="btn btn-default" data-dismiss="modal">ОК</button>
        <% } %>
      </div>
    </div>
  </div>
</div>
