<form accept-charset="UTF-8" action="/api/images" class="new_photo" enctype="multipart/form-data" id="fileupload" method="post">
  <input type='hidden' name='photo[page_id]' value='<%= page_id %>'>
  <div class="row fileupload-buttonbar">
    <span class="btn btn-success fileinput-button">
      <i class="icon-plus icon-white"></i>
      <span>Добавить файлы</span>
      <input id="photo_image" multiple="multiple" name="photo[image][]" type="file">
    </span>
  </div>

</form>


