@import url(http://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic-ext,cyrillic)

@import 'reset'

.clr
  clear: both

*
  box-sizing: border-box

body
  font-family: 'Roboto', sans-serif
  font-weight: lighter

.adult-confirmation
  color: #cbcbcb
  background: url(image-path('adult_confirmation/bg.jpg')) top center
  margin: 0 auto
  width: 576px
  text-align: center

  .logo
    margin-top: 20px

  .title
    margin: 80px 0 10px
    font-size: 33px
    color: #fff

  .desc
    font-size: 17px

  .actions
    margin: 70px 0 100px

  .action
    display: inline-block
    font-size: 33px
    text-transform: uppercase
    color: #cbcbcb
    text-decoration: none
    width: 120px

  .action.yes
    color: #f099d6

  .action.no
    border-left: 2px solid #f099d6

  .phones
    font-size: 25px

    .phone
      text-align: left
      float: left
      width: 50%

    .phone:last-child
      border-left: 2px solid #cbcbcb
      text-align: right

  .info
    margin-top: 15px
    font-size: 16px
    text-transform: uppercase

    p
      float: left
      padding: 0 8px
      border-right: 2px solid #cbcbcb

    p:first-child
      padding-left: 0

    p:last-child
      padding-right: 0
      border-right: 0

    a
      color: #f099d6
