/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require jquery.fileupload-ui
 *= require_tree ./application
 */


.page-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black url('/assets/backgrounds/bg01.jpg') fixed center top no-repeat;
}

.page-bg.pages_show_gallery {
  background-image: url('/assets/backgrounds/bg02.jpg');
}

.page-bg.pages_show_about {
  background-image: url('/assets/backgrounds/bg03.jpg');
}

.page-bg.pages_show_events {
  background-image: url('/assets/backgrounds/bg04.jpg');
}

.page-bg.pages_show_partners {
  background-image: url('/assets/backgrounds/bg05.jpg');
}

.page-bg.pages_show_contacts {
  background-image: url('/assets/backgrounds/bg06.jpg');
}
