.bar_list
  dd
    margin-bottom: 12px
    border-bottom: 1px solid #4d4958

  ul
    padding-left: 10px

  ul:after
    display: table
    content: ""
    line-height: 0
    clear: both
  li
    list-style-type: none
  .title
    float: left
    font-size: 13px

    span
      font-size: 18px
      text-transform: uppercase

  .c_price
    float: right
    margin-right: 10px

    span
      display: inline-block
      text-align: right
      width: 160px
      color: #c22656
