.partners {  
  .item {
    height: 160px;
    line-height: 160px;
    text-align: center;    
    img {
      vertical-align: middle;
    }
  }  
}

.contacts {
  margin-top: 40px;
  strong {
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: normal;
  }
}

.pages_show_crazy_price, .pages_show_hookah {
  .crazy_item {
    text-align: center;
    margin-bottom: 20px;    
    .image {
      height: 170px;      
    }
    .description {
      height: 70px;
    }
    span {
      display: block;      
      &.subname {
        font-size: 10pt;
      } 
      &.name {
        font-size: 14pt;
      }
    }
  }  
}

.pages_show_price .content {
  font-size: 14pt;
  .menu_info {
    text-align: center;
    margin-bottom: 50px;
    img {
      display: block;
      margin: 0 auto;      
    }
    .large {
      padding-top: 50px;
      font-size: 16pt;
      text-transform: uppercase;
      img {
        margin-top: 20px;
      }      
    }
    .price_block {
      img {
        margin-bottom: 20px;
      }
    }
  }
}

.price {
  font-size: 21pt;
  color: #ed1c39;
  &:after {
    content: url('/assets/rub.png');
    margin-left: 5px;
  }
}

.cards {
  margin-top: 30px;
  font-size: 14pt;
}
