@import 'settings';

.slider_block {
  position: relative;
  min-height: 40em;
  .slider {
    .item {
      float: left;    
      display: block;
      width: 280px;
      vertical-align: top;
      .image {
        position: relative;
        width: 100%;
        height: 25em;
        margin-bottom: 20px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      > a {
        color: white;
        display: block;
        padding: 0 1em;
      }      
      .title {
        font-size: 14pt;
        margin: 1em 0 0.5em;
        padding-right: 1em;
      }
      .preview, .text {        
        padding: 0 1em;
      }
      .controls {
        position: static;
        padding: 1em;
        text-align: right;
      }
    }
  }  
  .navi {
    position: absolute;
    left: -55px;
    top: 0px;
    width: 29px;
    height: 70%;
    background: url('/assets/arrows.png') no-repeat 0 center;
    cursor: pointer;
    &.next {
      left: auto;
      right: -55px;
      background-position: -29px center;
    }
  }
}

.menu_list {
  .slider_block .slider .item {
    width: 800px;
    .image {
      text-align: center;
      height: auto;

    }
  }
}

.cards_list {
  .slider_block .slider .item {        
    .image {
      height: auto;
      padding-right: 1em;
    }
    .title, .text {
      padding-right: 1em;
      padding-left: 0;
      
    }
  }
}

@mixin pink_date {
  display: inline-block;        
  padding: 0.5em;
  border: 2px $pink solid;
  text-align: center;
  min-width: 4.3em;
  .day {
    display: block;
    color: $pink;
    font-size: 150%;
    font-weight: bold;
  }
  .month {
    display: block;
    font-size: 80%;
    color: $gray;
  }
}

.events_list {
  .item {
    .date {
      @include pink_date;
    }
    .preview {
      margin-bottom: 10px;
    }
  }
}


.events {
  margin-top: 30px;
  .event_item {
    clear: left;
    margin-bottom: 20px;
    .event_image {
      float: left;
      margin-right: 10px;
      margin-bottom: 20px;
      width: 200px;
    }
    .title {
      font-size: 16pt;      
    }
    .date {
      font-size: 8pt;            
    }
    .preview {
      margin-top: 10px;
    }
  }  
}

.event {  
  .event_image {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .date { 
    font-size: 8pt;
    margin-bottom: 10px;
  }  
  .links {
    clear: left;
  }
}  

.announce {
  position: relative;
  margin-bottom: 30px;
  @include flexbox;
  @include justify-content(center);
  .item {
    margin: 0 30px;
    width: 20em;
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      .title {
        text-decoration: underline;
      }
    }
    .image {
      position: relative;
      margin-bottom: 20px;
      width: 100%;
      height: 28em;
      margin-bottom: 20px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    a > .date {
      @include pink_date;
    }
    .title {
      font-size: 14pt;          
      margin: 1em 0;
    }
    .preview {
      margin-bottom: 10px;
    }
  }
  .navi {
    position: absolute;
    left: -55px;
    top: 0px;
    width: 29px;
    height: 70%;
    background: url('/assets/arrows.png') no-repeat 0 center;
    cursor: pointer;
    &.next {
      left: auto;
      right: -55px;
      background-position: -29px center;
    }
  }
}

.request_form {
  .link {
    text-align: center;
    text-transform: uppercase;
    color: $pink;
    font-size: 120%;
  }
  .form {    
    margin: 2em 0;
    .input {
      display: inline-block;
      width: 30%;
    }
    input {
      color: $pink;
      background: transparent;
      padding: 0.5em 1em;
      width: 100%;
      border: 1px solid $pink;
      text-transform: uppercase;
      &::-webkit-input-placeholder, &::-moz-placeholder {
        color: $pink;
      }
    }
    button {
      text-transform: uppercase;
      color: white;
      background: $pink;
      width: 100%;
      margin: 0 1em;
      padding: 0.5em 1em;
      font-weight: bold;
      outline: none !important;
    }
  }
}

.notice {
  font-size: 150%;
  text-align: center;
  color: $pink;
  &.alert {
    color: red;
  }
}