@import 'settings';

.head {
  padding-top: 20px;
  color: $gray;
  .phones {
    padding-top: 20px;
    font-size: 13px;

    font-weight: bold;

    span:first-child {
      margin-right: 6px;
    }  
  }
  .login {
    padding-top: 20px;
    padding-left: 0;
  }
  .age {
    padding-top: 10px;
    font-size: 8pt;
    text-transform: uppercase;
    cursor: pointer;
    color: $pink;
    strong {
      color: $gray;
      font-size: 20pt;
      font-weight: lighter;
      float: left;
      margin-right: 5px;
      margin-top: -5px;
    }
  }

  .social-icons {
    position: relative;
    top: -2px;
    float: right;

    .social-icon {
      float: left;
      margin-right: 6px;
      width: 23px;
      height: 23px;
    }

    @each $social in vkontakte, youtube, facebook {
      .social-icon.#{$social} {
        background: url(image-path('header/#{$social}.png'));
      }
    }
  }

  .menu {
    margin: 1em 0;

    > ul {
      @include flexbox;
      @include justify-content(space-between);
      padding: 0;
      margin: 0;
    }
    li {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      font-size: 12pt;      
      font-weight: bold;
      a {
        color: white;
      }
      a:hover {
        color: #e6e6e6;
      }      
      ul {
        position: absolute;
        display: none;
        left: -20px;
        z-index: 5;
        background: black;
        padding: 10px;
        width: 230px;
        li {
          display: block;
          text-align: left;
          margin-bottom: 5px;
        }
      }
    }
    li:hover ul {
      display: block;
    }
  }
}

.content {
  
}

.footer {
  padding: 20px;
  background: rgba(0,0,0,0.7);
  text-transform: uppercase;
  color: $white;
  font-size: 9pt;
  .copyright {
    font-size: 8pt;
  }
  .menu {
    ul {
      padding: 0;
      li {
        margin-right: 15px;
        display: inline-block;
        a {
          color: $white; 
        }
        a:hover {
          color: #e6e6e6;
        }
        ul {
          display: none;
        }
      }
    }
  }
  .madein {
    font-size: 8pt;
  }
}
