@import url(http://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic-ext,cyrillic);

body {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

a {
  color: #e179aa;  
}

h1 {
  font-weight: lighter;  
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.container {
  width: 1000px;
  margin: 0px auto;
}

button {
  color: black;
}

.content_block {
  color: #fbe8f1;
}  

#modal_container {
  z-index: 100;
}

.top_controls {
  margin-bottom: 1em;
}
