.content_block {
  position: relative;
  min-height: 700px;
  background: rgba(14,10,27,0.85);
  padding: 20px 80px 30px;
  margin-bottom: 50px;

  .controls {
    position: absolute;
    right: 30px;
    bottom: 10px;
    font-size: 7pt;
  }

  .page_controls {
    font-size: 7pt;
    display: none;
  }

  .editable .page_controls {
    display: block;
    margin: 10px 0;
    text-align: right;
  }  

}

form {
  .form-group {
    input[type=number] {
      width: 5em;
    }
  }
}
