.gallery_widget {
  .main_image {
    position: relative;
    text-align: center;    
    .navi {
      position: absolute;
      left: -4em;
      top: 0px;
      width: 29px;
      height: 100%;
      background: url('/assets/arrows.png') no-repeat 0 center;
      cursor: pointer;
      &.next {
        left: auto;
        right: -4em;
        background-position: -29px center;
      }
    }
  }

  .slider {
    margin-top: 30px;
    height: 126px;
    width: 840px;
    .image {
      position: relative;    
      display: inline-block;
      cursor: pointer;
      margin-left: 5px;    
      width: 141px;
      height: 120px;
      border: 3px solid transparent;    
      overflow: hidden;
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
      }
      &.active {
        border: 3px solid #ff3875;
        border-radius: 3px;
        &:after {
          display: none;
        }      
      }
    }
  }
}

.fp_scroll {
  display: block;
  position: relative;
  background: #39153b;
  width: 100%;
  height: 10px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black inset;

  .fp_slide {
    width: 40px;
    height: 10px;
    background: #88598b;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    &:hover {
      background: #97689a;
    }
  }
}

