
$pink: #e179aa;
$gray: #e6e6e6;
$white: white;


@mixin flexbox {
  .flex {
    display: -ms-flexbox;
    display: -webkit-flex;
  }

  @supports (flex-wrap: wrap) { 
    display: flex;
  }
}

@mixin justify-content($arg) {
  justify-content: $arg;
  -webkit-justify-content: $arg;
}