.page_preview {
  display: none;
}

.editor_page {
  .fileupload-buttonbar {
    margin-bottom: 20px;
  }
  .image_list {
    margin-bottom: 20px;
    .image_item {
      margin: 0 0 10px 10px;
    }
  }
  textarea {
    color: black;
  }
}
select {
  color: black;
}

