!!!
%html
  %head
    %title Подиум
    = favicon_link_tag
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag 'init_ckeditor'
    = javascript_include_tag "application"
    = csrf_meta_tags
  - body_class = "#{params[:controller]}_#{params[:action]}" + (params[:id] ? "_#{params[:id]}" : "")
  %body{class:  "#{body_class}"}
    .page-bg{class:  "#{body_class}"}
    = render "shared/head"
    .content
      .content_page
        = yield
    = render "shared/footer"

    :coffee
      $ ->
        background_image_urls = #{ BackgroundImage.all.map {|bi| bi.image.url }.to_json }
        window.podium.activate_background(background_image_urls)
